@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: hsl(243, 87%, 12%);
    --second-color: hsl(238, 22%, 44%);
    --third-color: hsl(224, 93%, 58%);
    --fourth-color: hsl(170, 45%, 43%);
    --fith-color: hsl(240, 75%, 98%);
    --sixth-color: hsl(0, 0%, 75%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

body {
    height: 100vh;
    /* margin-right: 30px;  */
    /* background-position: center;  */
}
 
.container {
    width: 100%;
    height: 100vh;
    /* background-image: url(/assets/images/bg-curve-desktop.svg);  */
    /* background-repeat: no-repeat;  */
    /* background-size: cover; */
} 

/* HEADER */
header {
    margin-top: 20px;
    width: 100%;
}

/* BAR NAVIGATION */
.topnav {
    display: flex;
    /* flex-direction: row;  */
    /* margin: ;   */
}

.left-nav {
    margin-left: 20px;
}

.right-nav {
    margin-left: 70%;
    margin-top: 20px;
}

.right-nav a  {
    margin: 5px;
    font-family: "open sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--second-color);
    /* font-weight: bold;  */
}

/* FIRST CONTENT */
.first-content {
    margin-top: 10%;
    margin-left: 30px;
    display: flex;
}

.left-first-content, 
.right-first-content {
    flex: 1;
}

/* FIRST CONTENT LEFT */
h1 {
    margin-top: 55px;
    color: var(--primary-color);
    font-family: "open sans", sans-serif;
    font-size: 35px;
}

.left-first-content p {
    margin-top: 15px;
    font-family: "open sans", sans-serif;
}

.input-form {
    margin-top: 15px;
}

.input-form input {
    width: 40%;
    padding: 1.3%;
    border: 1px solid #000;
}

.input-form button {
    width: 30%;
    padding: 1.3%;
    cursor: pointer;
    background: var(--third-color);
    color: var(--fith-color);
    font-family: "open sans", sans-serif;
    border: none;
    border-radius: 2px;
    margin-left: 5px;
}

/* FIRST CONTENT RIGHT */
.right-first-content img {
    width: 80%;
    margin-left: 5%;
}

/* SECOND CONTENT */
.second-content {
    margin-top: 10%;
    margin-left: 30px;
    display: flex; 
}

.left-second-content,
.right-second-content {
    display: flex;
}

.left-second-content,
.right-second-content {
    width: 100%;
    height: 100%;
}

.right-second-content img {
    width: 80%;
    margin-left: 5%;
    margin-top: 15%;
}

/* NESWLETTER CONTENT */
.newsletter {
    margin-top: 15%;
    background: var(--second-color);
    display: flex;
    height: 35%;
}

.left-side-newsletter, 
.rigth-side-newsletter {
    flex: 1;
}

/* NESWLETTER CONTENT LEFT SIDE */
.left-side-newsletter {
    margin-left: 5%;
    width: 5px;
}

.left-side-newsletter h2 {
    margin-top: 10%;
    display: flex;
    font-family: "open sans", sans-serif;
    color: var(--fith-color);
}

.left-side-newsletter p {
    margin-top: 3%;
    font-family: "open sans", sans-serif;
    color: var(--fith-color);
}

/* NESWLETTER CONTENT RIGHT SIDE */
.rigth-side-newsletter {
    display: flex;
    flex-direction: column;
}


.rigth-side-newsletter input {
    margin-top: 10%;
    padding: 10px;
    width: 75%;
    padding: 1.3%;
    border: 1px solid #000;
}

.rigth-side-newsletter button {
    margin-top: 1%;
    padding: 1.3%;
    font-family: "open sans", sans-serif;
    border: none;
    width: 30%;
    cursor: pointer;
    background: var(--third-color);
    color: var(--fith-color);
}

/* FOOTER */
.footer {
    background: var(--primary-color);
    height: 40%;
    display: flex;
    /* align-items: center; Optionnel : pour centrer verticalement le contenu */
}

footer {
    margin-top: 3%;
    display: flex;
    flex: 1;
}

.content-footer, 
.content-footer-social-media {
    flex: 1;
    /* border: 1px solid var(--fith-color); Ajout d'une bordure pour visualiser les divisions */
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    font-family: "open sans", sans-serif;
    color: var(--fith-color);
}

footer img {
    width: 40%;
}

.content-footer a {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    font-family: "open sans", sans-serif;
    font-size: 15px;
    text-decoration: none; 
    color: var(--fith-color);
}

.content-footer i {
    margin: 0px 10px;
    border: 5px solid var(--fith-border);
    border-radius: 5px;
    color: var(--fith-color);
    cursor: pointer;
}

.content-footer-social-media, 
.fb-font, 
.tw-font, 
.insta-font {
    display: flex;
    flex-direction: row;
}

.fb-font, 
.tw-font, 
.insta-font {
    margin: 5px;
    margin-top: 20%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;
    border: 1px solid var(--fith-color);
    border-radius: 50%;
    cursor: pointer;
}

.fb-font a {
    color: var(--fith-color); 
}
.tw-font a {
    color: var(--fith-color);
}
.insta-font a {
    color: var(--fith-color); 
}

.logo-fylo {
    margin-top: 5%;
    margin-bottom: 4%; 
    margin-left: 10%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.second-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.phone-email-icons, 
.info-email {
    width: 12%;
}

.info-phone, 
.info-email {
    font-size: 15px;
}

#footer-link {
    margin-top: 4%;
}