@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: hsl(243, 87%, 12%);
    --second-color: hsl(238, 22%, 44%);
    --third-color: hsl(224, 93%, 58%);
    --fourth-color: hsl(170, 45%, 43%);
    --fith-color: hsl(240, 75%, 98%);
    --sixth-color: hsl(0, 0%, 75%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container {
    width: 100%;
    height: 100vh;
} 

body {
    margin-left: 30px;
    margin-right: 30px;
}

/* HEADER */
header {
    margin-top: 20px;
    width: 100%;
}

/* BAR NAVIGATION */
.topnav {
    display: flex;
    /* flex-direction: row;  */
    /* margin: ;   */
}

.left-nav {
    margin-left: 20px;
}

.right-nav {
    margin-left: 70%;
    margin-top: 20px;
}

.right-nav a  {
    margin: 5px;
    font-family: "open sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--second-color);
    /* font-weight: bold;  */
}

/* FIRST CONTENT */
.first-content {
    margin-top: 10%;
    display: flex;
}

.left-first-content, 
.right-first-content {
    flex: 1;
}

/* FIRST CONTENT */
.left-first-content {
    width: 20;
}